html{
  background-image: url(https://cdn.shopify.com/s/files/1/0305/4075/9177/products/N05175_2.jpg?v=1610369155);
background-size: cover; 
background-repeat: no-repeat;
}
body{
  margin: 0px 200px;
  
}

header {
  padding: 10px px;
  background: rgba(40, 38, 158, 0.151);
  color: #f1f1f1;
  text-align: center;
}

#O que e Design Thinking{
  margin-top: 110px;
}
h1{
  font-family: 'Mulish', sans-serif;
}
h2{
  text-align: center; font-family: 'Quicksand', sans-serif;
}
p{
  text-align:left;
  font-family: 'Inconsolata', monospace;
}

a{
font-family: 'Roboto Slab', serif;
}

.PS, .PQ, .PC, .CA, main{
    background-color: rgba(176, 141, 197, 0.39);
  border: 1px rgba(119, 0, 255, 0.466) solid;
  border-radius: 10px;
}
img {
  width:20%;
  margin:150px;
}
